<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://etsmtl.dev.jpbeaulieu.com/assets/js/vendors/modernizr.js"></script>
<script type="text/javascript" src="http://etsmtl.dev.jpbeaulieu.com/assets/js/vendors/jquery.mobile.custom.min.js"></script>
<script type="text/javascript" src="~/Bibliotheque/assets/js/mobile.js"></script>

<script type="text/javascript" src="~/CMSScripts/pack.js"></script>
<script>
$( document ).ready(function() {
$("#plc_lt_zoneMM_SearchBox_txtWord").addClass("btnSearchStyle");
$("#plc_lt_zoneMM_SearchBox_txtWord").attr("size","30");
});
</script>
<!--[if lt IE 8]>
<style type="text/css">
ul, ol{margin-left:33px}
</style>
<![endif]-->
<!--[if lt IE 9]>
<style type="text/css">
.searchBox{background-color:white}
</style>
<![endif]-->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16633244-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<link rel="stylesheet" type="text/css" media="print" href="/CMSPages/GetCSS.aspx?stylesheetname=ETSPrint" />