html.mobile, html.mobile body, html.mobile body #mobile {
    height: 100%;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

html.mobile body #mobile {
    overflow-x: hidden;
    overflow-y: hidden;
}

html.mobile body #mobile #scrolling-content {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

#form1 {
    display: none;
}

#mobile {
    display: none;
}

#mobile-splash {
    height: 100%;
    background-color: #ED1B2E;
}

#mobile-splash img {
    width: 222px;
}

html.mobile .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html.mobile header {
    height: 50px;
    background-color: #ED1B2E;
}

html.mobile header img.centered {
    position: relative;
    height: 20px;
}
html.mobile .hideOnMobile {
    display: none;
}

html.mobile section#mobile-top {
    height: 93px;
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/biblio.png');
    background-size: cover;
    background-position: center;
}

html.mobile section#mobile-top ul.tags {
    position: relative;
    text-align: center;
    margin: 0;
}

html.mobile section#mobile-top ul.tags li {
    text-transform: uppercase;
    background-color: #000000;
    border-radius: 20px;
}

html.mobile section#mobile-top ul.tags li a {
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 12px 30px 12px 45px;
    font-weight: bold;
}

html.mobile section#mobile-top ul.tags li a.btn-ico {
    background-repeat: no-repeat;
    background-position: 15px 8px;
}

html.mobile section#mobile-top ul.tags li a.btn-ico.clock {
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/clock.png');
    background-size: 22px 22px;
}

html.mobile section#mobile-top ul.tags li a.btn-ico.address {
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/address.png');
    background-size: 18px 23px;
}

html.mobile section#mobile-contact p {
    display: inline;
    margin-right: 12px;
}

html.mobile section#mobile-contact ul.tags {
    display: inline;
}

html.mobile section#mobile-contact ul.tags li {
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #ED1B2E;
    margin: 0 2px;
}

html.mobile section#mobile-contact ul.tags li a {
    text-decoration: none;
    color: #ED1B2E;
    padding: 5px 10px;
}

html.mobile section#mobile-contact ul.tags li a.icone {
    text-indent: -9999px;
    padding: 5px 13px;
    background-repeat: no-repeat;
    background-position: center;
}

html.mobile section#mobile-contact ul.tags li a.icone.phone {
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/phone.png');
    background-size: 16px 15px;
}

html.mobile section#mobile-contact ul.tags li a.icone.email {
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/message.png');
    background-size: 20px 15px;
}

html.mobile section#mobile-contact ul.tags li a.icone.chat {
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/chat.png');
    background-size: 22px 17px;
}

html.mobile section.accordeon {
    border-bottom: 1px solid #D5D5D5;
}

html.mobile section.accordeon a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

html.mobile section.accordeon div {
    display: none;
    padding: 0 20px;
}

html.mobile section.accordeon div.no-padding {
    padding: 0;
}

html.mobile section.accordeon a.btn {
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/ico-arrow-down.png');
    background-repeat: no-repeat;
    background-position: right 20px center;
    font-weight: bold;
}

html.mobile section.accordeon.open {
    background-color: #95ADBF;
    color: #FFFFFF;
}

html.mobile section.accordeon.open div {
    display: block;
}

html.mobile section.accordeon.open a.btn {
    color: #FFFFFF;
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/ico-arrow-up.png');
}

html.mobile section#mobile-contact {
    padding: 20px;
}

html.mobile input#txtSearch1, html.mobile input#txtSearch3 {
    width: 100%;
    box-sizing: border-box;
    background-color: #95ADBF;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    height: 43px;
    border-radius: 21.5px;
    padding: 0 40px 0 10px;
    outline: none;
    margin: 25px 0 30px;
    background: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/ico-search-small.png') no-repeat scroll right 10px center;
    background-size: 20px 20px;
}

html.mobile input#txtSearch1:focus, html.mobile input#txtSearch3:focus {
    background-color: #8096A5;
    font-size: 14px;
    font-weight: bold;
}

html.mobile p {
    font-size: 12px;
    padding: 0;
    margin: 0;
}

html.mobile ul.tags {
    padding: 0;
    margin: 10px 0 20px;
}

html.mobile ul.tags li {
    display: inline-block;
    background-color: #E8E8E8;
    margin: 3px 0;
    border-radius: 10px;
}

html.mobile ul.tags li.margin {
    margin-left: 20px;
}

html.mobile ul.tags li a {
    display: block;
    height: 100%;
    width: 100%;
    color: #333333;
    font-size: 12px;
    padding: 4px 10px;
    box-sizing: border-box;
}

html.mobile ul.news {
    padding: 0;
    margin: 0 0 10px;
    border-top: 1px solid #D5D5D5;
}

html.mobile ul.news li {
    display: block;
    padding: 15px 20px;
    border-bottom: 1px solid #D5D5D5;
}

html.mobile ul.news li a {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 0;
    box-sizing: border-box;
}

html.mobile ul.news li span {
    color: #4A6783;
    font-size: 13px;
}

html.mobile ::-webkit-input-placeholder {
    color: #FCFCFC;
    font-style: italic;
}

html.mobile :-moz-placeholder { /* Firefox 18- */
    color: #FCFCFC;
    font-style: italic;
}

html.mobile ::-moz-placeholder {  /* Firefox 19+ */
    color: #FCFCFC;
    font-style: italic;
}

html.mobile :-ms-input-placeholder {
    color: #FCFCFC;
    font-style: italic;
}

html.mobile footer {
    padding: 20px 0 10px 0;
    text-align: center;
    font-size: 11px;
    color: #CFCFCF;
    font-style: italic;
}

html.mobile li.square {
    display: inline-block;
}

html.mobile li.square a {
    display: block;
    padding: 0;
    text-align: center;
    width: 160px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center 25%;
    color: #94ADBD;
    line-height: 110px;
    text-transform: uppercase;
}

html.mobile li.square.left a {
    border-right: 1px solid #95ADBF;
}

html.mobile li.square.right a {
    position: relative;
    left: -3px;
}

html.mobile li.square.bottom a {
    position: relative;
    top: -3px;
}

html.mobile li.square a.clock {
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/clock.png');
    background-size: 22px 22px;
}

html.mobile li.square a.address {
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/address.png');
    background-size: 18px 23px;
}

html.mobile li.square a.search {
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/ico-search-small.png');
    background-size: 22px 22px;
}

html.mobile li.square a.news {
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/ico-news.png');
    background-size: 17px 22px;
}

html.mobile li.first {
    margin-top: -6px;
}

html.mobile li.socials {
    color: #95ADBF;
    font-size: 14px;
    margin-left: 20px;
    list-style: none;
}

html.mobile .socials span {
    position: relative;
    top: -10px;
    margin-right: 80px;
}

html.mobile .socials a {
    display: inline-block;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: 30px;
    padding: 0;
    margin-top: 30px;
}

html.mobile .socials a.rss {
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/ico-google-w.png');
}

html.mobile .socials a.facebook {
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/ico-facebook-w.png');
}

html.mobile .socials a.twitter {
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/ico-twitter-w.png');
}

html.mobile .socials a.youtube {
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/ico-youtube-w.png');

}

html.mobile section#mobile-breadcrumbs,
html.mobile section#mobile-page,
html.mobile section#mobile-footer {
    margin: 20px;
}

html.mobile section#mobile-breadcrumbs {
    margin-bottom: 5px;
    color: #95ADBF;
}

html.mobile section#mobile-page {
    margin-top: 0;
    font-size: 16px;
	line-height: 19px;    
}

html.mobile section#mobile-page h1,
html.mobile section#mobile-page h2,
html.mobile section#mobile-page .etsBoutonBleuDegrade,
html.mobile section#mobile-page h3 {
    color: #4A6783;
    font-weight: 600;
    margin-bottom: 10px;
}

html.mobile section#mobile-page h1 {
    font-size: 18px;
    line-height: 22px;
}

html.mobile section#mobile-page h2,
html.mobile section#mobile-page .etsBoutonBleuDegrade
 {
    font-size: 16px;
    line-height: 19px;
    padding-top: 10px;
}
html.mobile section#mobile-page .etsBoutonBleuDegrade{    
    background-image: none;   
    width: auto;
    padding-left: 0px;
    height: auto;     
}

html.mobile section#mobile-page h3 {
    font-size: 12px;
    line-height: 14px;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: 400;
}

html.mobile section#mobile-page p {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
}

html.mobile section#mobile-page img {
    max-width: 100%;
    height: auto!important;
}

html.mobile section#mobile-page p a {
    color: #4A6783;
    text-decoration: none;
    border-bottom: 1px solid #E8E8E8;
}

html.mobile section#mobile-page ul,
html.mobile section#mobile-page ol {
    margin-bottom: 20px;
    margin-top: 10px;
}

html.mobile section#mobile-page ul li,
html.mobile section#mobile-page ol li {
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 5px;  
}

html.mobile section#mobile-page ul.links li {
    list-style-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/arrow-list.png');
}

html.mobile section#mobile-page ul li a,
html.mobile section#mobile-page ol li a {
    color: #4A6783;
    text-decoration: none;
    border-bottom: 1px solid #E8E8E8;
}

html.mobile section#mobile-page .etsAncresGauche {
    float: none!important;
    color: #ED1B2E;
    padding-top: 20px;
    list-style-type: disc;
}

html.mobile section#mobile-page .etsAncresGauche li {
    list-style-position: inside;
}


html.mobile section#mobile-page .etsAncresGauche a {
    color: #ED1B2E;
    border-bottom: none;
    background: none;
}

html.mobile section#mobile-page a[href="#top"] {
    position: relative;
    float: right;
    right: -25px;
    display: inline-block;
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/btn-up.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 23px;
    height: 28px;
    border-bottom: none;    
}

html.mobile section#mobile-page a[href="#top"] img {
    display: none;
}

html.mobile section#mobile-page .etsBlocRetractableBouttonFerme {
    color: #4A6783;
    font-size: 16px;
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/add.png');
    background-repeat: no-repeat;
    background-size: 23px;
    font-weight: 600;
    padding: 14px 0 14px 35px;
    border-top: 1px solid #E8E8E8;
}

html.mobile section#mobile-page .etsBlocRetractableBouttonFerme.open {
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/remove.png');
}

html.mobile section#mobile-page .etsBlocRetractableContainer {
    border-bottom: 1px solid #E8E8E8;
}
html.mobile section#mobile-page .etsBlocRetractable img{
    height:auto!important;
}

html.mobile section#mobile-page table {
    width: 100%;
/*    border-right: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;*/
    margin-bottom: 20px;
}
html.mobile section#mobile-page table table{
    width: auto;
}

html.mobile section#mobile-page table tr td {
/*    border-left: 1px solid #CFCFCF;
    border-top: 1px solid #CFCFCF;*/
    padding: 5px;
}
html.mobile section#mobile-page table.etsTableauDeBase {
    width: 100%!important;
    border-right: 0px solid #fff;
    border-bottom: 0px solid #fff;
    margin-bottom: 20px;
}
html.mobile section#mobile-page table.etsTableauDeBase tr td {
    border-left: 0px solid #fff;
    border-top: 0px solid #fff;
    padding: 5px;
}
html.mobile section#mobile-page table.etsTableauIndex tr td {
    border-left: 0px solid #fff;
    border-top: 0px solid #fff;
    padding: 10px;
    display: inline-block;
}

html.mobile section#mobile-page table tr td a {
    color: #4A6783;
    text-decoration: none;
    border-bottom: 1px solid #E8E8E8;
}
html.mobile section#mobile-page table tr td img {
    height:auto!important;
}

html.mobile section#mobile-page label {
    display: inline-block;
    width: 49%;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
}

html.mobile section#mobile-page form {
    margin-bottom: 20px;
}

html.mobile section#mobile-page input {
/*     width: 50%; */
    border: 1px solid #CFCFCF;
    border-radius: 0;
    color: #4A6783;
    padding: 0 10px;
    height: 30px;
    margin: 5px 0;
    background: none;
}

html.mobile section#mobile-page input:focus {
    background-color: #FFFFFF;
    font-size: 11px;
    font-weight: normal;
}

html.mobile section#mobile-page input.btn {
    width: auto;
    border: none;
    border-radius: 18px;
    background-color: #4A6783;
    color: #FFFFFF;
    padding: 0 20px;
    height: 36px;
    margin: 5px 0;
    background-image: none;
    text-transform: uppercase;
    float: right;
    font-size: 14px;
}

html.mobile section#mobile-page div.multiple {
    display: inline-block;
    width: 50%;
    margin-top: 5px;
}

html.mobile section#mobile-page div.submit {
    height: 46px;
}

html.mobile section#mobile-page div.multiple input {
    width: 49%;
}

html.mobile section#mobile-page div.multiple label {
    text-align: left;
}
html.mobile section#mobile-page iframe {
    width: 100%;
}
html.mobile section#mobile-page .etsTableauDeBase {
    width: auto;
}
html.mobile section#mobile-page table.etsTableauInvisible, 
html.mobile section#mobile-page table.etsTableauInvisible tr,
html.mobile section#mobile-page table.etsTableauInvisible tr td,
html.mobile section#mobile-page table.etsTableauInvisible table, 
html.mobile section#mobile-page table.etsTableauInvisible table tr,
html.mobile section#mobile-page table.etsTableauInvisible table tr td {
    border: none;
}
html.mobile section#mobile-page .etsTableauInvisible .EditingFormControlNestedControl input[type="text"]:not(#plc_lt_zoneMain_pageplaceholder_pageplaceholder_lt_zoneCenter_pageplaceholder_pageplaceholder_lt_zoneCenter_ContenuDePage_BizFormControl1_Bizform1_ctl00_captcha_txtSecurityCode){
	width: 50%!important;
}

html.mobile section#mobile-page .etsTableauInvisible span.texte {
	display: block;
}
html.mobile section#mobile-page table input[size="5"]{
	width:auto;
}

html.mobile section#mobile-page table.etsIndexAlpha {
    border-left: 1px solid #CFCFCF;
}

html.mobile section#mobile-page .etsIndexAlpha tr td{
    display:inline-block;
    font-size: 14px;
    padding: 10px;
    border-top: 1px solid #CFCFCF;    
    border-right: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
}
html.mobile section#mobile-page .etsIndexAlpha tr td a{
    border:none;
}

html.mobile section#mobile-news-header {
    background-color: #95ADBF;
    height: 50px;
}

html.mobile section#mobile-news-header h1 {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 50px;
    margin-left: 20px;
}

html.mobile section#mobile-new-header {
    display: none;
    background-color: #95ADBF;
    height: 70px;
}

html.mobile section#mobile-new-header a {
    text-decoration: none;
    background-color: #E8E8E8;
    width: auto;
    display: inline-block;
    border-radius: 15px;
    font-size: 14px;
    padding: 5px 12px 5px 25px;
    color: #000000;
    font-weight: 600;
    margin: 20px;
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/ico-arrow-left.png');
    background-repeat: no-repeat;
    background-position: 10px 8px;
    background-size: 6px;
}

html.mobile section#mobile-news-header select {
    position: relative;
    top: -54px;
    left: 75%;
    height: 36px;
    border-radius: 18px;
    background-color: #E8E8E8;
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/ico-arrow-down.png');
    background-repeat: no-repeat;
    background-position: 60px 13px;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 40px 0 15px;
    -webkit-appearance:none;
    -moz-appearance:none;
    border:none;
}

html.mobile section#mobile-news-list .NewsPTitle {
    margin: 20px 20px 0;
    color: #95ADBF;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
}

html.mobile section#mobile-news-list .NewsPTitle h3 a {
    color: #46627F;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

html.mobile section#mobile-news-list .NewsPBody {
    border-bottom: 1px solid #D5D5D5;
    padding: 0 20px 20px;
    font-size: 16px;
}

html.mobile section#mobile-news-list .FeedLink {
    display: none;
}

html.mobile section#mobile-footer {
    background-color: #95ADBF;
    margin: 0;
    padding: 20px;
}

html.mobile section#mobile-footer table {
    width: 100%;
}

html.mobile section#mobile-footer table td {
    background-color: transparent!important;
}

html.mobile section#mobile-footer p, html.mobile section#mobile-footer a {
    color: #FFFFFF;
    font-size: 14px;
}
html.mobile section#mobile-footer p{
    padding-bottom: 10px;
}

html.mobile section#mobile-footer ul li {
    display: block;
    background-color: transparent;
    margin: 6px 0;
}

html.mobile section#mobile-footer ul li a {
    text-decoration: none;
    background-color: #E8E8E8;
    color: #333333;
    width: auto;
    display: inline-block;
    border-radius: 10px;
    font-size: 14px;
}

html.mobile footer {
    height: 36px;
    background-color: #FCFCFC;
}

html.mobile footer .socials .socials-left {
    float: left;
    padding-left: 20px;
}

html.mobile footer .socials .socials-right {
    float: right;
    padding-right: 20px;
}

html.mobile footer .socials span {
    font-size: 14px;
    font-style: normal;
    top: 5px;
}

html.mobile footer .socials a {
    margin-top: 0;
}

html.mobile footer .socials a.rss {
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/ico-rss-color.png');
}

html.mobile footer .socials a.facebook {
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/ico-facebook-color.png');
}

html.mobile footer .socials a.twitter {
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/ico-twitter-color.png');
}


html.mobile footer .socials a.youtube {
    background-image: url('http://pouletfrit.ad.etsmtl.ca:8080/ETS/media/ImagesETS/Biblio/images/ico-youtube-color.png');
}

/* --------------------------------

Main components

-------------------------------- */
.cd-main-content, .cd-main-header {
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

.cd-main-content, .cd-main-header {
    position: relative;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}
@media only screen and (max-width: 799px) {
    .cd-main-content.nav-is-visible, .cd-main-header.nav-is-visible {
        -webkit-transform: translateX(-325px);
        -moz-transform: translateX(-325px);
        -ms-transform: translateX(-325px);
        -o-transform: translateX(-325px);
        transform: translateX(-325px);
    }
    .nav-on-left .cd-main-content.nav-is-visible, .nav-on-left .cd-main-header.nav-is-visible {
        -webkit-transform: translateX(325px);
        -moz-transform: translateX(325px);
        -ms-transform: translateX(325px);
        -o-transform: translateX(325px);
        transform: translateX(325px);
    }
}

.cd-main-content {
    background: #FFFFFF;
    min-height: 100vh;
    z-index: 2;
}

.cd-main-header {
    height: 50px;
    background: #ffffff;
    z-index: 3;
}
.nav-is-fixed .cd-main-header {
    /* add .nav-is-fixed class to body if you want a fixed navigation on > 800px */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
@media only screen and (min-width: 800px) {
    .cd-main-header {
        height: 80px;
    }
    .cd-main-header::after {
        clear: both;
        content: "";
        display: table;
    }
}

.cd-logo {
    position: absolute;
    top: 12px;
    left: 5%;
}
.cd-logo img {
    display: block;
}
@media only screen and (max-width: 799px) {
    .nav-on-left .cd-logo {
        left: auto;
        right: 5%;
    }
}
@media only screen and (min-width: 800px) {
    .cd-logo {
        top: 26px;
        left: 4em;
    }
}

.cd-header-buttons {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 2%;
    padding: 0;
    margin: 5px 0 0;
}
.cd-header-buttons li {
    display: inline-block;
}
@media only screen and (max-width: 799px) {
    .nav-on-left .cd-header-buttons {
        right: auto;
        left: 5%;
    }
    .nav-on-left .cd-header-buttons li {
        float: right;
    }
}
@media only screen and (min-width: 800px) {
    .cd-header-buttons {
        top: 18px;
        right: 4em;
    }

    .square {
        display: none;
    }

    .socials {
        display: none;
    }
}

.cd-search-trigger, .cd-nav-trigger {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    overflow: hidden;
    white-space: nowrap;
    /* hide text */
    color: transparent;
    z-index: 3;
}

a.cd-nav-trigger:hover {
    color: transparent;
}

.cd-search-trigger::before, .cd-search-trigger::after {
    /* search icon */
    content: '';
    position: absolute;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cd-search-trigger::before {
    /* lens */
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 3px solid #2e3233;
}
.cd-search-trigger::after {
    /* handle */
    height: 3px;
    width: 8px;
    background: #2e3233;
    bottom: 14px;
    right: 11px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cd-search-trigger span {
    /* container for the X icon */
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.cd-search-trigger span::before, .cd-search-trigger span::after {
    /* close icon */
    content: '';
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 22px;
    top: 50%;
    margin-top: -2px;
    left: 50%;
    margin-left: -11px;
    background: #2e3233;
    opacity: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}
.cd-search-trigger span::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cd-search-trigger span::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.cd-search-trigger.search-is-visible::before, .cd-search-trigger.search-is-visible::after {
    /* hide search icon */
    opacity: 0;
}
.cd-search-trigger.search-is-visible span::before, .cd-search-trigger.search-is-visible span::after {
    /* show close icon */
    opacity: 1;
}
.cd-search-trigger.search-is-visible span::before {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.cd-search-trigger.search-is-visible span::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {
    /* hamburger icon in CSS */
    position: absolute;
    display: inline-block;
    height: 2px;
    width: 24px;
    background: #FFFFFF;
}
.cd-nav-trigger span {
    /* line in the center */
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -2px;
    -webkit-transition: background 0.3s 0.3s;
    -moz-transition: background 0.3s 0.3s;
    transition: background 0.3s 0.3s;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
    /* other 2 lines */
    content: '';
    right: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.3s 0.3s;
    -moz-transition: -moz-transform 0.3s 0.3s;
    transition: transform 0.3s 0.3s;
}
.cd-nav-trigger span::before {
    /* menu icon top line */
    top: -6px;
}
.cd-nav-trigger span::after {
    /* menu icon bottom line */
    top: 6px;
}
.cd-nav-trigger.nav-is-visible span {
    /* hide line in the center */
    background: rgba(46, 50, 51, 0);
}
.cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
    /* keep visible other 2 lines */
    background: #FFFFFF;
}
.cd-nav-trigger.nav-is-visible span::before {
    -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
    transform: translateX(4px) translateY(-3px) rotate(45deg);
}
.cd-nav-trigger.nav-is-visible span::after {
    -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
    transform: translateX(4px) translateY(2px) rotate(-45deg);
}
@media only screen and (min-width: 800px) {
    .cd-nav-trigger {
        display: none;
    }
}

.cd-primary-nav, .cd-primary-nav ul {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 325px;
    background: #424E5C;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}
.cd-primary-nav a, .cd-primary-nav ul a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #95ADBF;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform, opacity;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}
.cd-primary-nav li.has-children > a,
.cd-primary-nav li.go-back > a {
    text-transform: uppercase;
}
.cd-primary-nav.is-hidden, .cd-primary-nav ul.is-hidden {
    /* secondary navigations hidden by default */
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}
.cd-primary-nav.moves-out > li > a, .cd-primary-nav ul.moves-out > li > a {
    /* push the navigation items to the left - and lower down opacity - when secondary nav slides in */
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
}

@media only screen and (max-width: 799px) {
    .nav-on-left .cd-primary-nav, .nav-on-left .cd-primary-nav ul {
        right: auto;
        left: 0;
    }
}
.cd-primary-nav .see-all a {
    /* different style for the See all button on mobile and tablet */
    color: #69aa6f;
}
.cd-primary-nav .cd-nav-gallery .cd-nav-item, .cd-primary-nav .cd-nav-icons .cd-nav-item {
    /* items with picture (or icon) and title */
    height: 80px;
    line-height: 80px;
}
.cd-primary-nav .cd-nav-gallery .cd-nav-item h3, .cd-primary-nav .cd-nav-icons .cd-nav-item h3 {
    overflow: hidden;
    text-overflow: ellipsis;
}
.cd-primary-nav .cd-nav-gallery .cd-nav-item {
    padding-left: 90px;
}
.cd-primary-nav .cd-nav-gallery .cd-nav-item img {
    position: absolute;
    display: block;
    height: 40px;
    width: auto;
    left: 20px;
    top: 50%;
    margin-top: -20px;
}
.cd-primary-nav .cd-nav-icons .cd-nav-item {
    padding-left: 75px;
}
.cd-primary-nav .cd-nav-icons .cd-nav-item p {
    color: #2e3233;
    font-size: 1.3rem;
    /* hide description on small devices */
    display: none;
}
.cd-primary-nav .cd-nav-icons .cd-nav-item::before {
    /* item icon */
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px 40px;
}

.etshtabdroite {
    top: 0px!important;
    left: 155px!important;
    width: 108px!important;
    z-index:3!important;
    background: none;
}

@media only screen and (max-width: 799px) {
    .cd-primary-nav {
        /* by default .cd-primary-nav is hidden - trick for iOS devices where you can see the navigation if you pull down */
        visibility: hidden;
        -webkit-transition: visibility 0s 0.3s;
        -moz-transition: visibility 0s 0.3s;
        transition: visibility 0s 0.3s;
    }
    .cd-primary-nav.nav-is-visible {
        visibility: visible;
        -webkit-transition: visibility 0s 0s;
        -moz-transition: visibility 0s 0s;
        transition: visibility 0s 0s;
    }
}

@media only screen and (min-width: 800px) {
    .cd-primary-nav {
        position: absolute;
        top: 0;
        left: 0;
        z-index:3;
        padding: 0;
        height: 45px;
        width: auto;
        float: right;
        overflow: visible;
        background: transparent;
        background: url('https://www.etsmtl.ca/getattachment/Bibliotheque/mmbg.jpg') repeat;
    }
    .cd-primary-nav::after {
        clear: both;
        content: "";
        display: table;
    }
    .cd-primary-nav.moves-out > li > a {
        /* reset mobile style */
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    .cd-primary-nav ul {
        position: static;
        height: auto;
        width: auto;
        background: transparent;
        overflow: visible;
        z-index: 3;
    }
    .cd-primary-nav ul.is-hidden {
        /* reset mobile style */
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .cd-primary-nav ul.moves-out > li > a {
        /* reset mobile style */
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    .cd-primary-nav > li {
        float: left;
        margin-left: 20px;
        list-style: none;
    }
    .cd-primary-nav > li > a {
        /* main navigation buttons style */
        position: relative;
        display: inline-block;
        height: 46px;
        line-height: 46px;
        padding: 0 10px;
        color: #FFFFFF;
        overflow: visible;
        border-bottom: none;
        -webkit-transition: color 0.3s, box-shadow 0.3s;
        -moz-transition: color 0.3s, box-shadow 0.3s;
        transition: color 0.3s, box-shadow 0.3s;
    }
    .cd-primary-nav > li > a:hover {
        color: #94ADBD;
        box-shadow: inset 0 -3px 0 #94ADBD;
    }
    .cd-primary-nav > li > a.selected {
        color: #FFFFFF;
        box-shadow: inset 0 -3px 0 #94ADBD;
    }
    .cd-primary-nav .go-back, .cd-primary-nav .see-all, .cd-primary-nav .title {
        display: none;
    }
    .cd-primary-nav .cd-secondary-nav, .cd-primary-nav .cd-nav-gallery, .cd-primary-nav .cd-nav-icons {
        /* dropdown menu style */
        position: absolute;
        top: 45px;
        width: 100%;
        background: #414E5B;
        padding: 20px;
        box-shadow: inset 0 1px 0 #94ADBD, 0 3px 6px rgba(0, 0, 0, 0.05);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        -moz-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
        box-sizing: border-box;
    }
    .cd-primary-nav .cd-secondary-nav::after, .cd-primary-nav .cd-nav-gallery::after, .cd-primary-nav .cd-nav-icons::after {
        clear: both;
        content: "";
        display: table;
    }
    .cd-primary-nav .cd-secondary-nav.is-hidden, .cd-primary-nav .cd-nav-gallery.is-hidden, .cd-primary-nav .cd-nav-icons.is-hidden {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity .3s 0s, visibility 0s .3s;
        -moz-transition: opacity .3s 0s, visibility 0s .3s;
        transition: opacity .3s 0s, visibility 0s .3s;
    }
    .cd-primary-nav .cd-secondary-nav > .see-all, .cd-primary-nav .cd-nav-gallery > .see-all, .cd-primary-nav .cd-nav-icons > .see-all {
        /* this is the BIG See all button at the bottom of the dropdown menu */
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 80px;
        width: 100%;
        overflow: hidden;
        /* reset some inherited style */
        margin: 0;
        padding: 0;
    }
    .cd-primary-nav .cd-secondary-nav > .see-all a, .cd-primary-nav .cd-nav-gallery > .see-all a, .cd-primary-nav .cd-nav-icons > .see-all a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-size: 2.2rem;
        font-weight: bold;
        text-align: center;
        line-height: 80px;
        border-top: 1px solid #e2e3df;
        /* reset some inherited style */
        border-bottom: none;
        margin: 0;
        padding: 0;
        -webkit-transition: color 0.2s, background 0.2s, border 0.2s;
        -moz-transition: color 0.2s, background 0.2s, border 0.2s;
        transition: color 0.2s, background 0.2s, border 0.2s;
    }
    .cd-primary-nav .cd-secondary-nav > .see-all a:hover, .cd-primary-nav .cd-nav-gallery > .see-all a:hover, .cd-primary-nav .cd-nav-icons > .see-all a:hover {
        background: #2e3233;
        border-color: #2e3233;
        color: #ffffff;
    }
    .cd-primary-nav .cd-secondary-nav > li {
        /* change the height according to your needs - you can even set height: auto */
        height: 340px;
        /* here you set the number of columns - use width percentage */
        width: 23%;
        float: left;
        margin-right: 24px;
        border-right: 1px solid #95ADBF;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .cd-primary-nav .cd-secondary-nav > li:last-of-type {
        margin-right: 0;
        border-right: none;
    }
    .cd-primary-nav .cd-secondary-nav > li:nth-child(4n+6) {
        margin-right: 0;
        border-right: none;
    }
    .cd-primary-nav .cd-secondary-nav > li:nth-child(4n+7) {
        margin-right: 0;
        border-right: none;
        position: absolute;
        left: calc(69% + 72px);
        top: 190px;
    }
    .cd-primary-nav .cd-secondary-nav > li:nth-child(4n+8) {
        margin-right: 0;
        border-right: none;
        position: absolute;
        left: calc(69% + 72px);
        top: 230px;
    }
    .cd-primary-nav .cd-secondary-nav > li:nth-child(4n+9) {
        margin-right: 0;
        border-right: none;
        position: absolute;
        left: calc(69% + 72px);
        top: 270px;
    }

    .cd-primary-nav .cd-secondary-nav > li:nth-child(4n+7) a {
        cursor: pointer;
    }
    .cd-primary-nav .cd-secondary-nav > li:nth-child(4n+8) a {
        cursor: pointer;
    }
    .cd-primary-nav .cd-secondary-nav > li:nth-child(4n+9) a {
        cursor: pointer;
    }

    .cd-primary-nav .cd-secondary-nav > li > a {
        /* secondary nav title */
        color: #94ADBD;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: .6em;
        text-transform: uppercase;
        cursor: default;
    }
    .cd-primary-nav .cd-secondary-nav a {
        height: 30px;
        line-height: 30px;
        padding: 0 18% 0 0;
        color: #FFFFFF;
        border-bottom: none;
        font-size: 14px;
        text-transform: none;
        font-weight: normal;
    }
    .cd-primary-nav .cd-secondary-nav a:hover {
        color: #94ADBD;
    }
    .cd-primary-nav .cd-secondary-nav ul {
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }
    .cd-primary-nav .cd-secondary-nav ul ul {
        /* tertiary navigation */
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    .cd-primary-nav .cd-secondary-nav ul ul.is-hidden {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }
    .cd-primary-nav .cd-secondary-nav ul ul .go-back {
        display: block;
    }
    .cd-primary-nav .cd-secondary-nav ul ul .title {
        display: block;
    }
    .cd-primary-nav .cd-secondary-nav ul ul .go-back a {
        color: transparent;
    }
    .cd-primary-nav .cd-secondary-nav ul ul .title a {
        color: transparent;
    }
    .cd-primary-nav .cd-secondary-nav ul ul .see-all {
        display: block;
    }
    .cd-primary-nav .cd-secondary-nav .moves-out > li > a {
        /* push the navigation items to the left - and lower down opacity - when tertiary nav slides in */
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    .cd-primary-nav .cd-nav-gallery li {
        /* set here number of columns - use width percentage */
        width: 22%;
        float: left;
        margin: 0 4% 40px 0;
    }
    .cd-primary-nav .cd-nav-gallery li:nth-child(4n+2) {
        /* +2 because we have two additional list items with display:none */
        margin-right: 0;
    }
    .cd-primary-nav .cd-nav-gallery .cd-nav-item {
        border-bottom: none;
        padding: 0;
        height: auto;
        line-height: 1.2;
    }
    .cd-primary-nav .cd-nav-gallery .cd-nav-item img {
        position: static;
        margin-top: 0;
        height: auto;
        width: 100%;
        margin-bottom: .6em;
    }
    .cd-primary-nav .cd-nav-gallery .cd-nav-item h3 {
        color: #69aa6f;
        font-weight: bold;
        padding: 0 .4em;
    }
    .cd-primary-nav .cd-nav-icons li {
        /* set here number of columns - use width percentage */
        width: 32%;
        float: left;
        margin: 0 2% 20px 0;
    }
    .cd-primary-nav .cd-nav-icons li:nth-child(3n+2) {
        /* +2 because we have two additional list items with display:none */
        margin-right: 0;
    }
    .cd-primary-nav .cd-nav-icons .cd-nav-item {
        border-bottom: none;
        height: 80px;
        line-height: 1.2;
        padding: 24px 0 0 85px;
        position: relative;
    }
    .cd-primary-nav .cd-nav-icons .cd-nav-item:hover {
        background: #f6f6f5;
    }
    .cd-primary-nav .cd-nav-icons .cd-nav-item h3 {
        color: #69aa6f;
        font-weight: bold;
    }
    .cd-primary-nav .cd-nav-icons .cd-nav-item p {
        display: block;
    }
    .cd-primary-nav .cd-nav-icons .cd-nav-item::before {
        left: 25px;
    }
}
.has-children > a, .go-back a, .title a {
    position: relative;
}
.has-children > a::before, .has-children > a::after, .go-back a::before, .go-back a::after {
    /* arrow icon in CSS - for element with nested unordered lists */
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    display: inline-block;
    height: 2px;
    width: 10px;
    background: #FFFFFF;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.has-children > a::before, .go-back a::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.has-children > a::after, .go-back a::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
li.title {
    height: 50px;
    border-bottom: 1px solid #95ADBF;
    font-size: 16px;
    padding: 0 20px;
    line-height: 60px;
    color: #94ADBD;
}

@media only screen and (min-width: 800px) {
    .has-children > a::before, .has-children > a::after, .go-back a::before, .go-back a::after {
        background: #c9cbc4;
    }
    .has-children > a:hover::before, .has-children > a:hover::after, .go-back a:hover::before, .go-back a:hover::after {
        background: #69aa6f;
    }
}

.has-children > a {
    padding-right: 40px;
}
.has-children > a::before, .has-children > a::after {
    /* arrow goes on the right side - children navigation */
    right: 20px;
    -webkit-transform-origin: 9px 50%;
    -moz-transform-origin: 9px 50%;
    -ms-transform-origin: 9px 50%;
    -o-transform-origin: 9px 50%;
    transform-origin: 9px 50%;
}

.cd-primary-nav .go-back a {
    padding-left: 40px;
}
.cd-primary-nav .go-back a::before, .cd-primary-nav .go-back a::after {
    /* arrow goes on the left side - go back button */
    left: 20px;
    -webkit-transform-origin: 1px 50%;
    -moz-transform-origin: 1px 50%;
    -ms-transform-origin: 1px 50%;
    -o-transform-origin: 1px 50%;
    transform-origin: 1px 50%;
}

@media only screen and (min-width: 800px) {
    .has-children > a::before, .has-children > a::after {
        right: 15%;
    }

    .cd-primary-nav > .has-children > a {
        /* main navigation arrows on larger devices */
        padding-right: 30px !important;
    }
    .cd-primary-nav > .has-children > a::before, .cd-primary-nav > .has-children > a::after {
        width: 9px;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        background: #c9cbc4;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: width 0.3s, -webkit-transform 0.3s;
        -moz-transition: width 0.3s, -moz-transform 0.3s;
        transition: width 0.3s, transform 0.3s;
    }
    .cd-primary-nav > .has-children > a::before {
        right: 12px;
    }
    .cd-primary-nav > .has-children > a::after {
        right: 7px;
    }
    .cd-primary-nav > .has-children > a.selected::before, .cd-primary-nav > .has-children > a.selected::after {
        width: 14px;
    }
    .cd-primary-nav > .has-children > a.selected::before {
        -webkit-transform: translateX(5px) rotate(-45deg);
        -moz-transform: translateX(5px) rotate(-45deg);
        -ms-transform: translateX(5px) rotate(-45deg);
        -o-transform: translateX(5px) rotate(-45deg);
        transform: translateX(5px) rotate(-45deg);
    }
    .cd-primary-nav > .has-children > a.selected::after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .cd-secondary-nav > .has-children > a::before, .cd-secondary-nav > .has-children > a::after {
        /* remove arrows on secondary nav titles */
        display: none;
    }

    .cd-primary-nav .go-back a {
        padding-left: 20px;
    }
    .cd-primary-nav .go-back a::before, .cd-primary-nav .go-back a::after {
        left: 1px;
    }
}
.cd-search {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 50px;
    left: 0;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-search form {
    height: 100%;
    width: 100%;
}
.cd-search input {
    border-radius: 0;
    border: none;
    background: #ffffff;
    height: 100%;
    width: 100%;
    padding: 0 5%;
    box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.cd-search input::-webkit-input-placeholder {
    color: #c9cbc4;
}
.cd-search input::-moz-placeholder {
    color: #c9cbc4;
}
.cd-search input:-moz-placeholder {
    color: #c9cbc4;
}
.cd-search input:-ms-input-placeholder {
    color: #c9cbc4;
}
.cd-search input:focus {
    outline: none;
}
.cd-search.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.nav-is-fixed .cd-search {
    position: fixed;
}
@media only screen and (min-width: 800px) {
    .cd-search {
        height: 120px;
        top: 80px;
    }
    .cd-search input {
        padding: 0 2em;
        font-size: 3.2rem;
        font-weight: 300;
    }
    .cd-overlay {
       top: 113px!important;
    }
    .megaMenuBack {
        height: 45px;
        top: 68px;
    }
}

.cd-overlay {
    /* shadow layer visible when navigation is active */
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: rgba(149,173,191, 0.85);
    visibility: hidden;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
}
.cd-overlay.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s;
}
@media only screen and (max-width: 799px) {
    .cd-overlay.is-visible {
        -webkit-transform: translateX(-325px);
        -moz-transform: translateX(-325px);
        -ms-transform: translateX(-325px);
        -o-transform: translateX(-325px);
        transform: translateX(-325px);
    }
    .nav-on-left .cd-overlay.is-visible {
        -webkit-transform: translateX(325px);
        -moz-transform: translateX(325px);
        -ms-transform: translateX(325px);
        -o-transform: translateX(325px);
        transform: translateX(325px);
    }
    .cd-overlay.is-visible.search-is-visible, .nav-on-left .cd-overlay.is-visible.search-is-visible {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

/* --------------------------------

support for no js

-------------------------------- */
.no-js .cd-primary-nav {
    position: relative;
    height: auto;
    width: 100%;
    overflow: visible;
    visibility: visible;
    z-index: 2;
}

.no-js .cd-search {
    position: relative;
    top: 0;
    opacity: 1;
    visibility: visible;
}

@media only screen and (min-width: 800px) {
    .no-js .cd-primary-nav {
        position: absolute;
        z-index: 3;
        display: inline-block;
        width: auto;
        top: 0;
        right: 150px;
        padding: 0;
    }

    .no-js .nav-is-fixed .cd-primary-nav {
        position: fixed;
    }
}
