<main class="cd-main-content">
    <header>
        <ul class="cd-header-buttons">
            <li><a class="cd-nav-trigger" href="#cd-primary-nav">Menu<span></span></a></li>
        </ul>
        <a href="/Bibliotheque/Accueil"><img class="centered" src="/ETS/media/ImagesETS/Biblio/logo.png" /></a>
    </header>
    <div id="scrolling-content">
        <section id="mobile-top">
            <ul class="tags centered">
                <li><a class="btn-ico clock" href="/Bibliotheque/Infos-generales/Bibliotheque/Heures-d-ouverture">Horaires</a></li>
                <li><a class="btn-ico address" href="/bibliotheque/Infos-generales/Bibliotheque/Coordonnees">Coordonnées</a></li>
            </ul>
        </section>
        <section id="mobile-search" class="accordeon open">
            <a class="btn" href="#">Recherche</a>
            <div>
                <input id="txtSearch1" type="text" placeholder="Recherche de livres, articles, normes, revues et plus..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Recherche de livres, articles, normes, revues et plus...'" />
                <p>Liens associés :</p>
                <ul class="tags">
                    <li><a href="http://decouverte.uquebec.ca/ets">Plus d'options</a></li>
                    <li><a href="/Bibliotheque/Collections/Recherche-de-documents/Catalogue-ETS/Autres-bibliotheques">Autres bibliothèques</a></li>
                    <li><a href="/Bibliotheque/Collections/Recherche-de-documents/Bases-de-donnees">Bases de données spécialisées</a></li>
                </ul>
            </div>
        </section>
        <section id="mobile-memories" class="accordeon">
            <a class="btn" href="#">Mémoires et thèses de l'ÉTS</a>
            <div>
                <input id="txtSearch3" type="text" placeholder="Recherche dans les mémoires et thèses de l'ÉTS" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Recherche dans les mémoires et thèses de l\'ÉTS'" />
                <p>Ressources similaires :</p>
                <ul class="tags">
                    <li><a href="http://espace.etsmtl.ca/view/">Espace ÉTS</a></li>
                    <li><a href="http://search.proquest.com/pqdtglobal/advanced?accountid=27231">ProQuest Dissertations & Theses</a></li>
                </ul>
            </div>
        </section>
        <section id="mobile-shortcuts" class="accordeon">
            <a class="btn" href="#">Raccourcis</a>
            <div>
                <ul class="tags">
                    <li><a href="http://www.engineeringvillage.com/">Compendex & INSPEC</a></li>
                    <li><a href="http://ieeexplore.ieee.org/">IEEE Xplore</a></li>
                    <li><a href="http://library.books24x7.com/">IT Pro (Books24x7)</a></li>
                    <li><a href="http://www.biblio.eureka.cc/ip/default.aspx?user=ets1">Eureka.cc</a></li>
                </ul>
                <ul class="tags">
                    <li><a href="http://decouverte.uquebec.ca/primo_library/libweb/action/login.do?loginFn=signin&vid=ETS&targetURL=http://decouverte.uquebec.ca/primo_library/libweb/action/search.do?dscnt=0&vid=ETS">Dossier d’emprunteur (Mon compte)</a></li>
                    <li><a href="/bibliotheque/Aide-et-formation/Comment---/Gerer-References">EndNote, Mendeley</a></li>
                    <li><a href="/bibliotheque/Infos-generales/Bibliotheque/Calendrier-des-activites">Calendrier des activités</a></li>
                    <li><a href="/bibliotheque/Infos-generales/Renseignements-utiles/Acces-hors-campus">Accès hors campus</a></li>
                </ul>
            </div>
        </section>
        <section id="mobile-news" class="accordeon">
            <a class="btn" href="#">Nouvelles</a>
            <div class="no-padding">
                <ul class="news"></ul>
                <ul class="tags">
                    <li class="margin"><a class="latest-news" href="#">Voir toutes les nouvelles</a></li>
                </ul>
            </div>
        </section>
        <section id="mobile-contact">
            <p>Contactez-nous</p>
            <ul class="tags">
                <li><a class="icone phone" href="tel:514-396-8960">Téléphone</a></li>
                <li><a class="icone email" href="mailto:bibref@etsmtl.ca">Courriel</a></li>
                <li><a class="icone chat" href="http://libraryh3lp.com/chat/bibliotheque_ets@chat.libraryh3lp.com?skin=19944" target="_blank">Clavardage</a></li>
                <li><a href="/bibliotheque/Infos-generales/Bibliotheque/Coordonnees">Coordonnées</a></li>
            </ul>
        </section>
        <footer>
            Service de la bibliothèque de l'École de technologie supérieure
        </footer>
    </div>
</main>