<nav class="cd-nav">
    <div class="cd-overlay"></div>
    <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
        <li class="square left">
            <a class="clock" href="/Bibliotheque/Infos-generales/Bibliotheque/Heures-d-ouverture">Horaires</a>
        </li>
        <li class="square right">
            <a class="address" href="/bibliotheque/Infos-generales/Bibliotheque/Coordonnees">Coordonnées</a>
        </li>
        <li class="square left bottom">
            <a class="search" href="http://decouverte.uquebec.ca/primo_library/libweb/action/dlSearch.do?tab=default_tab&institution=ETS&onCampus=false&indx=1&dum=true&vid=ETS&group=GUEST&query=any%2Ccontains%2Crecherche&search_scope=ETSPLUS&lang=fre&inputQueryPrimo=recherche">Recherche</a>
        </li>
        <li class="square right bottom">
            <a class="news latest-news" href="#">Nouvelles</a>
        </li>
        <li class="has-children first">
            <a href="#">Collections</a>

            <ul class="cd-secondary-nav is-hidden">
                <li class="go-back"><a href="#">Menu</a></li>
                <li class="title">Collections</li>

            </ul>
        </li>

        <li class="has-children">
            <a href="#">Services</a>

            <ul class="cd-secondary-nav is-hidden">
                <li class="go-back"><a href="#">Menu</a></li>
                <li class="title">Services</li>

            </ul>
        </li>

        <li class="has-children">
            <a href="#">Infos générales</a>
            <ul class="cd-secondary-nav is-hidden">
                <li class="go-back"><a href="#">Menu</a></li>
                <li class="title">Infos générales</li>

            </ul>
        </li>

        <li class="has-children">
            <a href="#">Aide et formations</a>
            <ul class="cd-secondary-nav is-hidden">
                <li class="go-back"><a href="#">Menu</a></li>
                <li class="title">Aide et formations</li>

            </ul>
        </li>
        <li class="socials">
            <div>
                <span>Suivez-nous</span>
                <a class="icone rss" href="https://www.etsmtl.ca/fils-rss?rss=NouvellesBiblioRSS" target="_blank">rss</a>
                <a class="icone facebook" href="https://www.facebook.com/bibliothequeets" target="_blank">Facebook</a>
                <a class="icone twitter" href="https://twitter.com/BiblioETS" target="_blank">Twitter</a>
                <a class="icone youtube" href="http://www.youtube.com/user/etsmtl" target="_blank">Youtube</a>
            </div>
        </li>
    </ul> <!-- primary-nav -->
</nav> <!-- cd-nav -->