<main class="cd-main-content">
    <header>
        <ul class="cd-header-buttons">
            <li><a class="cd-nav-trigger" href="#cd-primary-nav">Menu<span></span></a></li>
        </ul>
		<a href="/Bibliotheque/Accueil"><img class="centered" src="/ETS/media/ImagesETS/Biblio/logo.png" /></a>
    </header>
    <div id="scrolling-content">
        <section id="mobile-news-header">
            <h1>Nouvelles</h1>
            <select id="selNews">

            </select>
        </section>
        <section id="mobile-news-list">

        </section>
        <footer>
            <div class="socials">
                <div class="socials-left">
                    <span>Suivez-nous</span>
                </div>
                <div class="socials-right">
                    <a class="icone rss" href="https://www.etsmtl.ca/fils-rss?rss=NouvellesBiblioRSS" target="_blank">rss</a>
                    <a class="icone facebook" href="https://www.facebook.com/bibliothequeets" target="_blank">Facebook</a>
                    <a class="icone twitter" href="https://twitter.com/BiblioETS" target="_blank">Twitter</a>
                    <a class="icone youtube" href="http://www.youtube.com/user/etsmtl" target="_blank">Youtube</a>
                </div>
            </div>
        </footer>
    </div>
</main>