
<main class="cd-main-content">
    <header>
        <ul class="cd-header-buttons">
            <li><a class="cd-nav-trigger" href="#cd-primary-nav">Menu<span></span></a></li>
        </ul>
		<a href="/Bibliotheque/Accueil"><img class="centered" src="/ETS/media/ImagesETS/Biblio/logo.png" /></a>
    </header>
    <div id="scrolling-content">
        <section id="mobile-breadcrumbs">
            Services > Généraux > Emprunter
        </section>
        <section id="mobile-page">
            <h1>H1 - Page classique - sur deux ligne pour l'interlignage</h1>
            <ol class="etsAncresGauche">
                <li><a href="#1">Introduction</a></li>
                <li><a href="#2">Règles générales d'utilisation</a></li>
                <li><a href="#3">Ressources électroniques</a></li>
                <li><a href="#4">Copies pour l'enseignement</a></li>
            </ol>
            <h2>H2 - Titre niveau 2 - sur deux ligne pour l'interlignage</h2>
            <p>Tout document perdu doit être remplacé à vos frais. Vous pouvez soit vous procurer la même édition du document pour la remettre à la bibliothèque, ou soit défrayer le coût de son remplacement. Dans les deux cas, des frais de 20$ sont ajoutés pour couvrir les frais de <a href="#">traitement</a>.</p>
            <h3>H3 - Titre niveau 2 - sur deux ligne pour l'interlignage...............</h3>
            <p>Tout document perdu doit être remplacé à vos frais. Vous pouvez soit vous procurer la même édition du document pour la remettre à la bibliothèque, ou soit défrayer le coût de son remplacement. Dans les deux cas, des frais de 20$ sont ajoutés pour couvrir les frais de traitement.</p>
            <h2>H2 - Titre</h2>
            <p>Tout document perdu doit être remplacé à vos frais. Vous pouvez soit vous procurer la même édition du document pour la remettre à la bibliothèque, ou soit défrayer le coût de son remplacement. Dans les deux cas, des frais de 20$ sont ajoutés pour couvrir les frais de traitement.</p>
            <h3>Liste à puce</h3>
            <ul>
                <li>Règles de prêt</li>
                <li>Règles de prêt</li>
                <li>Règles de prêt</li>
            </ul>
            <h3>Liste numérotée</h3>
            <ol>
                <li>Règles de prêt</li>
                <li>Règles de prêt</li>
                <li>Règles de prêt</li>
            </ol>
            <h3>Liste liens</h3>
            <ul class="links">
                <li><a href="#">traitement</a></li>
                <li><a href="#">traitement</a></li>
                <li><a href="#">traitement</a></li>
            </ul>
            <h3>Tableau</h3>
            <table>
                <tr>
                    <td>Prêt</td>
                    <td><a href="#">514-555-5555</a></td>
                </tr>
                <tr>
                    <td>Aide</td>
                    <td><a href="#">514-555-5555</a></td>
                </tr>
                <tr>
                    <td>Employé</td>
                    <td><a href="#">Bottin du personnel</a></td>
                </tr>
                <tr>
                    <td>PEB</td>
                    <td><a href="#">514-555-5555</a></td>
                </tr>
            </table>
            <h3>Formulaire</h3>
            <form>
                <div>
                    <label>Titre de l'article :</label>
                    <input type="text">
                </div>
                <div>
                    <label>Titre de la revue :</label>
                    <input type="text">
                </div>
                <div>
                    <label>*Année :</label>
                    <input type="text">
                </div>
                <div>
                    <label>*Auteur :</label>
                    <div class="multiple">
                        <label>Nom</label>
                        <label>Prénom</label>
                        <input type="text">
                        <input type="text">
                    </div>
                </div>
                <div>
                    <label>DOI :</label>
                    <input type="text">
                </div>
                <div class="submit">
                    <input class="btn" type="submit" value="Soumettre">
                </div>
            </form>
            <a href="#top"></a><br><br>
        </section>
        <section id="mobile-footer">
            <p>Comptoir de prêt : 514-555-5555</p>
            <ul class="tags">
                <li><a href="#">Quel est mon code d'accès ?</a></li>
                <li><a href="#">Pour obtenbir un autre type de document</a></li>
                <li><a href="#">Dépannage - Livraison électronique</a></li>
            </ul>
        </section>
        <footer>
            <div class="socials">
                <div class="socials-left">
                    <span>Suivez-nous</span>
                </div>
                <div class="socials-right">
                    <a class="icone rss" href="https://www.etsmtl.ca/fils-rss?rss=NouvellesBiblioRSS" target="_blank">rss</a>
                    <a class="icone facebook" href="https://www.facebook.com/bibliothequeets" target="_blank">Facebook</a>
                    <a class="icone twitter" href="https://twitter.com/BiblioETS" target="_blank">Twitter</a>
                    <a class="icone youtube" href="http://www.youtube.com/user/etsmtl" target="_blank">Youtube</a>
                </div>
            </div>
        </footer>
    </div>
</main>